section.works-index
  .inner
    h2 Works
    ul
      li
        a(href="#")
          .img
            figure.img-works.works-
            figure.works-bg
          h3 餃子スタンド 公式サイト
          span website | クライアントワーク
      li
        a(href="#")
          .img
            figure.img-works.works-
            figure.works-bg
          h3 くろやぎ様 ポートフォリオサイト
          span website | クライアントワーク
      li
        a(href="#")
          .img
            figure.img-works.works-
            figure.works-bg
          h3 高津由輝 ポートフォリオサイト
          span website | 自主制作
      li
        a(href="#")
          .img
            figure.img-works.works-
            figure.works-bg
          h3 野菜直送サービス LP
          span website | スクール課題
      li
        a(href="#")
          .img
            figure.img-works.works-
            figure.works-bg
          h3 テレビ局 リクルートサイト
          span website | 自主制作
      li
        a(href="#")
          .img
            figure.img-works.works-
            figure.works-bg
          h3 クリエイタースクール LP
          span website | スクール課題
      li
        a(href="#")
          .img
            figure.img-works.works-
            figure.works-bg
          h3 不動産仲介業者 バナー
          span bunner | 自主制作
      li
        a(href="#")
          .img
            figure.img-works.works-
            figure.works-bg
          h3 自分用の名刺
          span graphic | 自主制作
