@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

.btns {
  box-sizing: border-box;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include typography.zen-regular;
  font-size: 20px;
  margin: 0 auto 200px;
  padding: 20px 108px 0;

  @include mq.sm {
    font-size: 13px;
    margin: 0 0 60px;
    padding: 20px 24px 0;
    align-items: flex-end;
  }

  a {
    color: var(--color-black);
    text-decoration: none;
  }
  .btn {
    display: flex;
    gap: 30px;
    align-items: center;

    @include mq.sm {
      flex-direction: column;
      gap: 7px;
    }

    &:first-of-type figure {
      rotate: 180deg;
    }

    @include mq.sm {
      &:last-of-type figure {
        order: -1;
      }
    }

    figure {
      @include path.bg-img("svg/icon-arrow.svg");
      @include geom.sq(47px);
      transition: ease.$custom1 0.3s;

      @include mq.sm {
        @include geom.sq(30px);
      }
    }

    // @include mq.has-hover {
    //   &:hover figure {
    //     transform: translateX(10px);
    //   }
    // }
  }

  .back {
    display: block;
    position: relative;
    &::before {
      @include path.bg-img("svg/icon-box.svg");
      content: "";
      position: absolute;
      aspect-ratio: 34 / 22;
      width: 34px;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);
      transform-origin: center;
      transition: 0.3s;

      @include mq.sm {
        top: -30px;
      }
    }
    // @include mq.has-hover {
    //   &:hover::before {
    //     transform: translateX(-50%) scale(1.2);
    //   }
    // }
  }
}
