@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

.outline {
  margin-bottom: 200px;

  @include mq.sm {
    margin-bottom: 60px;
  }

  .description {
    box-sizing: border-box;
    display: flex;
    gap: 11%;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0 108px;
    margin: 0 auto;
    margin-bottom: 200px;

    @include mq.md {
      flex-direction: column;
      gap: 60px;
    }
    @include mq.sm {
      flex-direction: column;
      gap: 30px;
      padding: 0 24px;
      margin-bottom: 60px;
    }

    .head {
      h2 {
        @include typography.en-regular;
        margin: 0 0 15px -5px;
        font-size: 92px;
        line-height: 1;

        @include mq.sm {
          margin: 0 0 0 -2px;
          font-size: 45px;
        }
      }

      span {
        @include typography.zen-regular;
        font-size: 16px;

        @include mq.sm {
          font-size: 12px;
        }
      }
    }

    .text {
      @include typography.zen-regular;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 155px;
      font-size: 16px;
      line-height: 2;

      @include mq.md-sm {
        margin-top: 0;
      }
      @include mq.sm {
        font-size: 13px;
      }
    }
  }

  .line {
    box-sizing: border-box;
    width: 85%;
    height: fit-content;
    padding: 10px 10px 10px 0;
    margin-bottom: 200px;
    border: solid var(--color-gold) 2px;
    border-left: none;
    border-radius: 0 60px 0 0;

    @include mq.sm {
      width: 93%;
      margin-bottom: 60px;
      border-radius: 0 50px 0 0;
    }

    .img {
      width: 100%;
      overflow: hidden;
      border: solid var(--color-gold) 1px;
      border-left: none;
      border-radius: 0 50px 0 0;

      @include mq.sm {
        height: 172px;
        border-radius: 0 40px 0 0;
      }

      img {
        width: 100%;
        max-width: 100%;
        height: 480px;
        vertical-align: top;
        object-fit: cover;

        @include mq.sm {
          height: 172px;
        }
      }
    }
  }

  .information {
    @include typography.zen-regular;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 816px;
    padding: 0 108px;
    margin: 0 auto 200px;
    line-height: 2;

    @include mq.sm {
      gap: 20px;
      padding: 0 24px;
      margin: 0 auto 60px;
    }

    .none {
      display: none;
    }

    li {
      display: flex;
      flex-direction: column;
      gap: 10px;
      transition: 1s ease;

      &.active {
        h3 {
          opacity: 1;
          translate: 0 0;
        }

        .hr {
          scale: 1;
        }

        p {
          opacity: 1;
          translate: 0 0;
        }
      }

      h3 {
        font-size: 20px;
        color: var(--color-gold);
        text-align: center;
        opacity: 0;
        transition: 1s ease;
        translate: 0 20px;

        @include mq.sm {
          font-size: 16px;
        }
      }

      .hr {
        transition: 1s ease.$custom1;
        transform-origin: center;
        scale: 0;
      }

      p {
        font-size: 16px;
        opacity: 0;
        transition: 1s ease;
        translate: 0 20px;

        @include mq.sm {
          font-size: 13px;
        }
      }
    }
  }

  .comp {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    padding-inline: 108px;
    margin: 0 auto;
    margin-bottom: 200px;

    @include mq.sm {
      flex-direction: column;
      gap: 40px;
      align-items: center;
      padding: 0 24px;
      margin: 0;
      margin-inline: 60px;
    }

    img {
      width: 100%;
      max-width: 100%;
      vertical-align: top;
      border: solid 1px var(--color-gold);
    }

    .pc {
      width: 57%;

      @include mq.sm {
        width: 70%;
      }
    }

    .sp {
      width: 34%;

      @include mq.sm {
        width: 55%;
      }
    }

    .pc-only {
      width: 56%;
      margin: 0 auto;

      @include mq.sm {
        width: 70%;
      }
    }
  }

  .comp-bunner {
    box-sizing: border-box;
    max-width: 1440px;
    padding-inline: 108px;
    margin: 0 auto;
    margin-bottom: 200px;

    @include mq.sm {
      flex-direction: column;
      gap: 40px;
      align-items: center;
      padding: 0 24px;
      margin: 0;
      margin-inline: 60px;
    }

    ol {
      display: flex;
      justify-content: space-between;
      list-style: none;

      @include mq.sm {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        margin: 0;
        margin-inline: 60px;
      }

      li {
        width: 32%;

        @include mq.sm {
          width: 70%;
        }

        span {
          @include typography.en-regular;
          padding-top: 3px;
          line-height: 2;
          color: var(--color-gold);
          border-top: solid 1px var(--color-gold);
        }

        .img {
          border: solid 1px var(--color-gold);

          img {
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            vertical-align: top;
          }
        }
      }
    }
  }

  .comp-card {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    padding-inline: 108px;
    margin: 0 auto;
    margin-bottom: 200px;

    @include mq.sm {
      flex-direction: column;
      gap: 40px;
      align-items: center;
      padding: 0 24px;
      margin: 0;
      margin-inline: 60px;
    }

    .img {
      width: 49%;
      border: solid 1px var(--color-gold);

      @include mq.sm {
        width: 70%;
      }

      img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        vertical-align: top;
      }
    }
  }
}
