@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

.gallery {
  position: relative;
  margin-bottom: 300px;

  h2 {
    @include typography.en-regular;
    position: sticky;
    top: 50%;
    z-index: 10;
    font-size: 130px;
    color: var(--color-gold);
    text-align: center;
    transform: translateY(-50%);

    @include mq.sm {
      font-size: 50px;
    }
  }

  .items {
    position: relative;
    height: 200vh;
    margin-top: 300px;

    div {
      position: absolute;
      display: flex;
      width: 100%;

      figure {
        opacity: 0;
        transition: 1s ease.$custom1;
        transform: translateY(50px);

        &.active {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .item1 {
      top: 0;

      @include mq.sm {
        top: 30vw;
      }

      .img1 {
        @include path.bg-img("top/img-gallery-1.jpg", cover);
        width: 23%;
        aspect-ratio: 5 / 6;
        margin: 800px 0 0 7%;
      }
    }

    .item2 {
      top: 0;
      justify-content: flex-end;

      @include mq.sm {
        top: -20vw;
      }

      .img2 {
        @include path.bg-img("top/img-gallery-2.jpg", cover);
        width: 43%;
        aspect-ratio: 124 / 85;
        margin: 0;
      }
    }

    .item3 {
      top: -10vw;
      z-index: 1;

      @include mq.sm {
        top: -27vw;
      }

      .img3 {
        @include path.bg-img("top/img-gallery-3.jpg", cover);
        width: 41%;
        aspect-ratio: 24 / 17;
        margin: 0 0 0 2%;
      }
    }

    .item4 {
      top: -80vw;

      @include mq.sm {
        top: -223vw;
      }

      .img4 {
        @include path.bg-img("top/img-gallery-4.jpg", cover);
        width: 21%;
        aspect-ratio: 60 / 47;
        margin: 0 0 0 37%;
      }
    }

    .item5 {
      top: 80vw;
      justify-content: flex-end;

      @include mq.sm {
        top: 120vw;
      }

      .img5 {
        @include path.bg-img("top/img-gallery-5.jpg", cover);
        width: 41%;
        aspect-ratio: 139 / 78;
        margin: 0 2% 0 0;
      }
    }

    .item6 {
      top: 100vw;

      @include mq.sm {
        top: 200vw;
      }

      .img6 {
        @include path.bg-img("top/img-gallery-6.jpg", cover);
        width: 23%;
        aspect-ratio: 1 / 1;
        margin: 1000px 0 0 7%;
      }
    }

    .item7 {
      top: 5vw;

      @include mq.sm {
        top: -45vw;
      }

      .img7 {
        @include path.bg-img("top/img-gallery-7.jpg", cover);
        width: 15%;
        aspect-ratio: 37 / 50;
        margin: 0 0 0 32%;
      }
    }

    .item8 {
      top: 70vw;
      justify-content: flex-end;

      .img8 {
        @include path.bg-img("top/img-gallery-8.jpg", cover);
        width: 41%;
        aspect-ratio: 28 / 19;
        margin: 0 7% 80vh 0;
      }
    }
  }
}
