footer.global-footer
  .bg
  .inner
    p 新たな冒険を共にする準備をする
    a.contact(href="mailto:neveyk33@gmail.com", aria-label="Contact")
      include ../../assets/img/svg/icon-mail.svg
      .split-text Contact
    .pc-content
      nav
        ul
          li
            a(href="/") Top
          li
            a(href="/works-list/") Works
          li
            a(href="/about-me/") About me
      .sp-content
        p.copyrigft @2025 portofolio site
        .icons
          a(href="https://github.com/Takatsu-yuki", target="_blank", rel="noopener noreferrer")
            include ../../assets/img/svg/icon-github.svg
          a(href="https://x.com/aipotuy", target="_blank", rel="noopener noreferrer")
            include ../../assets/img/svg/icon-x.svg
