header.global-header
  .bar
    a.logo(href="/")
    #hamburger.hamburger
      span
      span
      p.menu menu
      p.close close
  nav#nav
    .inner
      .bg
      ul
        li
          a(href="/") 
            p Top
            span トップ
        li
          a(href="/works-list/") 
            p Works
            span 完成したクエスト報酬
        li
          a(href="#")
            p About me
            span 私について
      .icons
        a.github(href="#")
          include ../../assets/img/svg/icon-github.svg
        a.x(href="#")
          include ../../assets/img/svg/icon-x.svg
