header.global-header
  .bar
    a.logo(href="#")
    .hamburger
      span
      span
      p.active menu
      p.nav close
  nav
    .inner
      a(href="#") Top
      a(href="#") Works
      a(href="#") About me
    .icons
      a.github
        include ../../assets/img/svg/icon-github.svg
      a.x
        include ../../assets/img/svg/icon-x.svg
