//- #loading
//-   .inner
//-     #loading-item

section#fv.fv
  .inner
    .bg
      .left
        figure.bg1
        figure.bg2
      .right.no-sm
        figure.bg3
        figure.bg4
    .content
      .head
        h1
          span.clip
            span.clip-item Welcome to&nbsp;<br class="no-md">
          span.clip
            span.clip-item My portfolio site
        .clip
          p.clip-item Takatsu Yuki portfolio site
      .character
        a.circle(href="/works-list/")
