section.gallery
  h2 Illustration
  #gallery-items.items
    .item1.rellax(data-rellax-speed="4")
      figure.img1
    .item2.rellax(data-rellax-speed="0")
      figure.img2

    .item3.rellax(data-rellax-speed="-1")
      figure.img3

    .item4.rellax(data-rellax-speed="-1")
      figure.img4

    .item5.rellax(data-rellax-speed="1")
      figure.img5

    .item6.rellax(data-rellax-speed="8")
      figure.img6

    .item7.rellax(data-rellax-speed="-1")
      figure.img7

    .item8.rellax(data-rellax-speed="0")
      figure.img8
