extends _template/_base

block vars
  - lev1ID = "top";

block links
  link(href=`${pathToCSS}top.css${hash}`, rel="stylesheet", type="text/css")

block main
  include top/fv
  include top/introduction
  include top/works
  include top/gallery
  include top/about-me

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js")
  script(src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/CustomEase.min.js")
  script(src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js")
  script(src=`${pathToJS}common.js`)
  script(src=`${pathToJS}top.js`)
