extends _template/_base

block vars
  - lev1ID = "top";

block links
  link(href=`${pathToCSS}top.css${hash}`, rel="stylesheet", type="text/css")

block main
  include top/about-me
  include top/fv
  include top/introduction
  include top/works
  include top/gallery

block scripts
  script(src=`${pathToJS}main.js`)
  script(src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js")
  script(src=`${pathToJS}top.js`)
