extends _template/_base

block vars
  - titleChild = "works";
  - lev1ID = "works";
  - lev = 2;
  - ogUrl = "https://portfolio.yutonosite.com/works-5/";

block links
  link(href=`${pathToCSS}works-base.css${hash}`, rel="stylesheet", type="text/css")

block main
  include works-num/works-5

block scripts
  script(src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js")
  script(src=`${pathToJS}common.js`)
  script(src=`${pathToJS}works-list.js`)
