extends _template/_base

block vars
  - lev1ID = "2";

block links
  link(href=`${pathToCSS}works-index.css${hash}`, rel="stylesheet", type="text/css")

block main
  include works-index/works-item

block scripts
  script(src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js")
  script(src=`${pathToJS}main.js`)
