section.works-list
  .text
    figure.circle
    .head
      h1 Works
      span 完成したクエスト報酬
  ul#works-cont
    li.fade-in
      a(href="/works-1/")
        .img
          .img-works
            figure.works-1
          figure.works-bg
        h3 餃子スタンド 公式サイト
        span website | クライアントワーク
    li.fade-in
      a(href="/works-2/")
        .img
          .img-works
            figure.works-2
          figure.works-bg
        h3 くろやぎ様 ポートフォリオサイト
        span website | クライアントワーク
    li.fade-in
      a(href="/works-3/")
        .img
          .img-works
            figure.works-3
          figure.works-bg
        h3 高津由輝 ポートフォリオサイト
        span website | 自主制作
    li.fade-in
      a(href="/works-4/")
        .img
          .img-works
            figure.works-4
          figure.works-bg
        h3 野菜直送サービス LP
        span website | スクール課題
    li.fade-in
      a(href="/works-5/")
        .img
          .img-works
            figure.works-5
          figure.works-bg
        h3 テレビ局 リクルートサイト
        span website | 自主制作
    li.fade-in
      a(href="/works-6/")
        .img
          .img-works
            figure.works-6
          figure.works-bg
        h3 クリエイタースクール LP
        span website | スクール課題
    li.fade-in
      a(href="/works-7/")
        .img
          .img-works
            figure.works-7
          figure.works-bg
        h3 不動産仲介業者 バナー
        span bunner | 自主制作
    li.fade-in
      a(href="/works-8/")
        .img
          .img-works
            figure.works-8
          figure.works-bg
        h3 自分用の名刺
        span graphic | 自主制作
