@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

.biography {
  padding-inline: 108px;
  margin-bottom: 200px;

  .inner {
    max-width: 1224px;
    margin: 0 auto;

    .head {
      margin-bottom: 50px;

      h2 {
        @include typography.en-regular;
        margin-bottom: 35px;
        font-size: 92px;
        line-height: 1;
      }

      p {
        @include typography.zen-regular;
        font-size: 16px;
        line-height: 1;
      }
    }

    .timeline {
      display: flex;
      gap: 50px;
      align-items: center;
      justify-content: center;

      .pagination {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;

        li {
          cursor: pointer;

          &:hover {
            .img::before {
              opacity: 0;
            }
          }

          &.active {
            .img::before {
              opacity: 0;
            }
          }

          .border {
            @include geom.sq(100px);
            position: relative;
            box-sizing: border-box;
            display: grid;
            place-items: center;
            padding: 3px;
            margin-bottom: 10px;
            border: solid 1px var(--color-gold);
            border-radius: 50%;

            &::before,
            &::after {
              position: absolute;
              display: block;
              width: 5px;
              height: 6px;
              clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
              content: "";
              background-color: var(--color-gold);
            }

            &::before {
              top: -3px;
              left: 50%;
              transform: translateX(-50%);
            }

            &::after {
              bottom: -4px;
              left: 50%;
              transform: translateX(-50%);
            }

            .img {
              position: relative;
              box-sizing: border-box;
              width: 100%;
              height: 100%;
              aspect-ratio: 1/1;
              overflow: hidden;
              border: solid 1px var(--color-gold);
              border-radius: 50%;

              &::before {
                @include geom.abs;
                display: block;
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                content: "";
                background-color: rgba($color: #122234, $alpha: 30%);
                transition: 0.3s ease.$custom1;
              }

              img {
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 100%;
              }
            }
          }

          span {
            @include typography.zen-regular;
            font-size: 16px;
            line-height: 1;
          }
        }
      }

      .slide-items {
        position: relative;
        width: 70%;

        li {
          @include geom.abs;
          box-sizing: border-box;
          width: 100%;
          max-width: 864px;
          padding: 10px;
          background-color: var(--color-white);
          border: solid 2px var(--color-gold);
          border-radius: 0 60px 0 0;
          translate: -20px -50%;
          transition: 1s ease.$custom1;
          visibility: hidden;
          opacity: 0;

          &.active {
            opacity: 1;
            visibility: visible;
            translate: 0 -50%;
          }

          .border {
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            border: solid 1px var(--color-gold);
            border-radius: 0 50px 0 0;

            .text {
              @include typography.zen-regular;
              box-sizing: border-box;
              display: flex;
              flex-direction: column;
              gap: 20px;
              width: 46%;
              padding: 40px 0 40px 40px;
              line-height: 2;
              text-align: center;

              span {
                @include typography.en-regular;
              }

              .h3 {
                display: flex;
                gap: 20px;
                align-items: flex-end;
                justify-content: center;
                line-height: 1;

                h3 {
                  font-size: 50px;
                  font-weight: 400;
                }

                span {
                  font-size: 30px;
                }
              }

              .left {
                text-align: left;
              }
            }

            .img {
              width: 51%;

              img {
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 100%;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}
