@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

.biography {
  padding-inline: 108px;
  margin-bottom: 200px;

  @include mq.sm {
    padding-inline: 24px;
    margin-bottom: 0;
  }

  .inner {
    max-width: 1224px;
    margin: 0 auto;

    .head {
      margin-bottom: 50px;

      @include mq.sm {
        margin-bottom: 30px;
      }

      h2 {
        @include typography.en-regular;
        margin-bottom: 35px;
        font-size: 92px;
        line-height: 1;

        @include mq.sm {
          margin-bottom: 10px;
          font-size: 45px;
        }
      }

      p {
        @include typography.zen-regular;
        font-size: 16px;
        line-height: 1;

        @include mq.sm {
          font-size: 12px;
        }
      }
    }

    .timeline {
      display: flex;
      gap: 50px;
      align-items: center;
      justify-content: center;

      @include mq.md {
        flex-direction: column;
      }
      @include mq.sm {
        flex-direction: column;
        gap: 20px;
      }

      .pagination {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        text-align: center;

        @include mq.md {
          display: flex;
          flex-direction: row;
          width: 100%;
          max-width: 460px;
        }
        @include mq.sm {
          display: flex;
          flex-direction: row;
          gap: 10px;
          width: 100%;
          max-width: 460px;
        }

        li {
          width: 100px;
          cursor: pointer;

          @include mq.sm {
          }

          &:hover {
            .img::before {
              opacity: 0;
            }
          }

          &.active {
            .img::before {
              opacity: 0;
            }
          }

          .border {
            @include geom.sq(100px);
            position: relative;
            box-sizing: border-box;
            display: grid;
            place-items: center;
            padding: 3px;
            margin-bottom: 10px;
            border: solid 1px var(--color-gold);
            border-radius: 50%;

            @include mq.sm {
              width: 100%;
              max-width: 100px;
              height: auto;
              aspect-ratio: 1 /1;
              padding: 2px;
              margin-bottom: 5px;
            }

            &::before,
            &::after {
              position: absolute;
              display: block;
              width: 5px;
              height: 6px;
              clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
              content: "";
              background-color: var(--color-gold);
            }

            &::before {
              top: -4px;
              left: 50%;
              transform: translateX(-50%);
            }

            &::after {
              bottom: -4px;
              left: 50%;
              transform: translateX(-50%);
            }

            .img {
              position: relative;
              box-sizing: border-box;
              width: 100%;
              height: 100%;
              aspect-ratio: 1/1;
              overflow: hidden;
              border: solid 1px var(--color-gold);
              border-radius: 50%;

              &::before {
                @include geom.abs;
                display: block;
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                content: "";
                background-color: rgba($color: #122234, $alpha: 30%);
                transition: 0.3s ease.$custom1;
              }

              img {
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 100%;
              }
            }
          }

          span {
            @include typography.zen-regular;
            font-size: 16px;
            line-height: 1;

            @include mq.sm {
              font-size: 13px;
            }
          }
        }
      }

      .slide-items {
        position: relative;
        width: 70%;

        @include mq.md {
          width: 100%;
          max-width: 864px;
        }
        @include mq.sm {
          width: 100%;
        }

        li {
          @include geom.abs(50%, 50%);
          box-sizing: border-box;
          width: 100%;
          max-width: 864px;
          padding: 5px;
          visibility: hidden;
          background-color: var(--color-white);
          border: solid 2px var(--color-gold);
          border-radius: 0 60px 0 0;
          opacity: 0;
          transition: 1s ease.$custom1;
          transform: translate(calc(-50% - 20px), -50%);

          &.active {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, -50%);
          }

          &:nth-of-type(2) {
            position: static;
            transform: translate(-20px, 0);

            &.active {
              transform: translate(0, 0);
            }
          }

          @include mq.md {
            margin: 0 auto;
            translate: -20px 0;
          }
          @include mq.sm {
            border-radius: 0 50px 0 0;
          }

          .border {
            position: relative;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            border: solid 1px var(--color-gold);
            border-radius: 0 55px 0 0;

            @include mq.sm {
              flex-direction: column-reverse;
              gap: 20px;
              padding: 20px;
              border-radius: 0 45px 0 0;
            }

            figure {
              @include geom.abs;
              @include path.bg-img("svg/deco-circle.svg");
              z-index: -1;
              width: 477px;
              height: auto;
              aspect-ratio: 1/1;
              opacity: 0.2;
              transform-origin: center;
              rotate: 30deg;
              translate: -55% -55%;

              @include mq.sm {
                width: 100vw;
              }
            }

            .text {
              @include typography.zen-regular;
              box-sizing: border-box;
              display: flex;
              flex-direction: column;
              gap: 20px;
              width: 46%;
              padding: 40px 0 40px 40px;
              line-height: 2;
              text-align: center;

              @include mq.sm {
                width: 100%;
                padding: 0;
              }

              span {
                @include typography.en-regular;
                @include mq.sm {
                  display: none;
                }
              }

              .h3 {
                display: flex;
                gap: 20px;
                align-items: flex-end;
                justify-content: center;
                line-height: 1;

                @include mq.sm {
                  gap: 10px;
                }

                h3 {
                  font-size: 50px;
                  font-weight: 400;

                  @include mq.sm {
                    font-size: 20px;
                  }
                }

                span {
                  font-size: 30px;

                  @include mq.sm {
                    display: block;
                    font-size: 13px;
                  }
                }
              }

              p {
                @include mq.sm {
                  font-size: 13px;
                }
              }

              .left {
                text-align: left;
              }
            }

            .img {
              position: relative;
              width: 51%;

              @include mq.sm {
                width: 100%;
                aspect-ratio: 267 / 278;
                overflow: hidden;
              }

              img {
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 100%;
                object-fit: contain;

                @include mq.sm {
                  object-fit: cover;
                  object-position: top;
                  transform-origin: top;
                  scale: 1.2;
                }
              }
            }
          }
        }
      }
    }
  }
}
