@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

.gsap {
  display: grid;
  place-items: center;
  height: 100vh;

  h1 {
    @include typography.en-regular;
    font-size: 100px;
    line-height: 1;
    color: var(--color-black);
    position: relative;

    span {
      display: inline-block;
    }
  }
}
