@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

.gsap {
  height: 100vh;
  display: grid;
  place-items: center;

  h1 {
    @include typography.en-regular;
    color: var(--color-black);
    font-size: 100px;
    line-height: 1;
  }
}
