@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

.yuki {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 108px;
  margin-bottom: 200px;

  .inner {
    display: flex;
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;

    .left {
      position: sticky;
      top: calc((100vh - 600px) / 2);
      display: flex;
      flex-grow: 1;
      height: 600px;

      .head {
        position: relative;
        z-index: 1;
        flex-grow: 1;
        margin-right: 30px;

        @include mq.md {
          margin-right: 60px;
        }

        .circle {
          @include geom.sq(1000px);
          @include geom.abs(50%, 34%);
          z-index: 0;
          opacity: 0;
          transform-origin: center;
          translate: -50% -50%;

          @include mq.md {
            translate: -80% -40%;
          }

          svg {
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
          }
        }

        figure {
          @include path.bg-img("/svg/img-name.svg");
          width: 100%;
          aspect-ratio: 349 / 51;
          margin-bottom: vw.lg(30);
        }

        [class^="subhead"] {
          position: relative;
          z-index: 1;
          box-sizing: border-box;
          display: block;
          width: auto;
          padding: 10px 0 10px 30px;
          margin-bottom: vw.lg(10);
          color: #979795;
          text-decoration: none;
          cursor: pointer;
          border-left: 6px solid #979795;
          transition: 0.3s ease.$custom1;

          &::before {
            z-index: -1;
            width: 100%;
            height: 100%;
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            content: "";
            background: linear-gradient(
              90deg,
              rgb(146 213 229 / 100%) 0%,
              rgb(198 230 225 / 100%) 75%,
              rgb(233 209 213 / 10%) 95%,
              rgb(233 209 213 / 0%) 100%
            );
            transition: 0.3s ease.$custom1;

            @include geom.abs(0, 0);
          }

          h3 {
            @include typography.en-regular;
            margin-bottom: 5px;
            font-size: 40px;
            line-height: 1;
          }

          span {
            @include typography.zen-regular;
            font-size: 16px;
          }
        }

        .active {
          color: var(--color-white);
          border-left: 6px solid var(--color-blue);
          transition: 0.3 ease.$custom1;

          &::before {
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
          }
        }
      }

      .chara {
        @include path.bg-img("/top/img-aboutme-character.png");
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 370px;
        height: 600px;
        margin-right: 30px;
        background-position: center;

        @include mq.md {
          display: none;
        }

        // &::before {
        //   @include geom.abs(0, 0);
        //   z-index: -1;
        //   width: 100%;
        //   height: 100%;
        //   content: "";
        //   background-color: var(--color-blue);
        // }
      }
    }

    .right {
      position: relative;
      z-index: 1;
      width: 35%;
      height: calc(600px * 5);

      @include mq.md {
        width: 50%;
      }
      // background: linear-gradient(
      //   0deg,
      //   rgba(146, 213, 229, 1) 0%,
      //   rgba(146, 213, 229, 1) 20%,
      //   rgba(198, 230, 225, 1) 20%,
      //   rgba(201, 229, 224, 1) 40%,
      //   rgba(233, 209, 213, 1) 40%,
      //   rgba(233, 209, 213, 1) 60%,
      //   rgba(146, 213, 229, 1) 60%,
      //   rgba(146, 213, 229, 1) 80%,
      //   rgba(233, 209, 213, 1) 80%
      // );

      .sticky-content {
        position: sticky;
        top: calc((100vh - 600px) / 2);
        width: 100%;
        height: 600px;

        .chara-md {
          @include mq.md {
            @include geom.abs();
            @include path.bg-img("/top/img-aboutme-character.png");
            content: "";
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: 0.1s ease;
            background-position: center;
          }
        }

        & > div {
          @include geom.abs;
          box-sizing: border-box;
          width: 100%;
        }

        .slide {
          visibility: hidden;
          opacity: 0;
          transition: 0.3s ease;
        }

        .active {
          visibility: visible;
          opacity: 1;
        }

        .slide-1 {
          height: 600px;
          overflow: auto;
          border-top: solid 1px var(--color-hr);

          &::-webkit-scrollbar-track {
            background-color: var(--color-white);
          }

          &::-webkit-scrollbar-thumb {
            background-color: var(--color-gold);
          }

          details {
            border-bottom: solid 1px var(--color-hr);

            summary {
              display: flex;
              align-items: center;
              padding: 10px 0;
              margin-right: 10px;
              cursor: pointer;

              &::-webkit-details-marker {
                display: none;
              }

              .icon1 {
                @include path.bg-img("/common/img-skills-1.png");
                @include geom.sq(90px);
                margin-right: 25px;
              }

              .icon2 {
                @include path.bg-img("/common/img-skills-2.png");
                @include geom.sq(90px);
                margin-right: 25px;
              }

              .icon3 {
                @include path.bg-img("/common/img-skills-3.png");
                @include geom.sq(90px);
                margin-right: 25px;
              }

              p {
                @include typography.zen-regular;
                margin-right: auto;
                font-size: 20px;
              }

              span {
                @include geom.sq(34px);
                position: relative;
                display: block;

                &::before,
                &::after {
                  @include geom.abs(0, 50%);
                  display: block;
                  width: 100%;
                  height: 3px;
                  content: "";
                  background-color: var(--color-gold);
                  transition: 0.5s ease.$custom1;
                  transform-origin: center;
                }

                &::before {
                  transform: translateY(-50%) rotate(180deg);
                }

                &::after {
                  transform: translateY(-50%) rotate(270deg);
                }
              }
            }

            .acc-text {
              @include typography.zen-regular;
              display: grid;
              font-size: 16px;
              transition: 0.5s ease;

              .inner {
                overflow: hidden;

                p {
                  padding-bottom: 10px;
                  margin-right: 10px;
                }
              }
            }

            &[open] span {
              &::after {
                transform: translateY(-50%) rotate(0);
              }

              &::before {
                transform: translateY(-50%) rotate(0deg);
              }
            }
          }
        }

        .slide-2 {
          @include typography.zen-regular;
          height: 600px;
          overflow: auto;

          .tool {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: fit-content;

            .item {
              margin: 20px 0;

              .content {
                display: flex;
                gap: 20px;
                align-items: flex-end;
                justify-content: center;
                width: 100%;
                margin-bottom: 10px;

                figure {
                  @include geom.sq(55px);
                  flex-shrink: 0;
                }

                .item1 {
                  @include path.bg-img("svg/icon-figma.svg");
                }

                .item2 {
                  @include path.bg-img("svg/icon-photoshop.svg");
                }

                .item3 {
                  @include path.bg-img("svg/icon-illustrator.svg");
                }

                .item4 {
                  @include path.bg-img("svg/icon-vscode.svg");
                }

                .status {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  justify-content: center;
                  width: 100%;

                  .text {
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;
                    color: #8f8e8d;

                    @include mq.sm {
                      font-size: 13px;
                    }
                  }

                  .bar {
                    position: relative;
                    height: 10px;
                    background-color: var(--color-hr);
                    border-radius: 100px;

                    .fill {
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 0%;
                      height: 100%;
                      content: "";
                      background-color: var(--color-gold);
                      border-radius: 100px;
                    }
                  }
                }
              }
            }

            .hr-gray {
              width: 100%;
              height: 1px;
              background-color: var(--color-hr);
            }
          }
        }

        .slide-3 {
          > div {
            @include geom.abs;
            @include typography.zen-regular;
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-content: center;
            height: 600px;

            figure {
              @include geom.abs(-30px, 20%);
              @include typography.en-regular;
              z-index: 0;
              width: calc(110% + 108px);
              aspect-ratio: 570 / 156;
              font-size: 200px;
              object-position: right;
            }

            .bg-en1 {
              @include path.bg-img("about-me/img-en-1.svg");
            }

            .bg-en2 {
              @include path.bg-img("about-me/img-en-2.svg");
            }

            .bg-en3 {
              @include path.bg-img("about-me/img-en-3.svg");
            }

            span {
              @include typography.en-regular;
              position: relative;
              z-index: 1;
              flex-shrink: 0;
              width: fit-content;
              font-size: 12px;
              border-top: 1px solid var(--color-black);
            }

            .en,
            .ja {
              @include typography.zen-bold;
              position: relative;
              z-index: 1;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
