include works-base

+top("video", 5, "website | 自主制作", "テレビ局 リクルートサイト", "https://www.figma.com/design/mGWv1KU9jruTbk7iXFvz2a/%E3%83%86%E3%83%AC%E3%83%93%E5%B1%80%E3%80%80%E3%83%AA%E3%82%AF%E3%83%AB%E3%83%BC%E3%83%88%E3%82%B5%E3%82%A4%E3%83%88%E3%80%80%EF%BC%88%E6%9E%B6%E7%A9%BA%EF%BC%89?node-id=225-409&t=fMjivC1en5aqZGX3-1", "figma", "2025.01", "Figma")

+outline("ローカルテレビ局の架空のリクルートサイトを制作しました。新卒の募集を想定し、小規模だからこそ社員一人一人の個性と成長を尊重、幅広く事業に関わることが可能な自由な社風を印象付けられるデザインを意識しています。<br>ターゲットの不安を払拭し、エントリーへと繋げられるデザインを目指して試行錯誤を重ねました。Figmaファイルにて初期デザインから完成に至るまでのブラッシュアップの過程を公開しています。","企画、デザイン", 5, "新年度に向けて新卒採用を強化したいが、都市部の大手メディアに比べ知名度が低い為応募が集まりにくい。", "「小規模だからこそ幅広い業務経験が可能」という強みを強調し、若手社員の成長エピソードを掲載し、成長の魅力を伝える。会社の理念方針に共感し、社風にもマッチする人材を採用する。", "就職を考える大学生、専門学校生。<br>メディア業界やクリエイティブな職種への憧れがあり、地方や中小企業でも「自分の個性を活かせる」仕事を探している。", "キャッチコピーを「挑戦を楽しもう!」と設定し、少数先鋭のコンパクトなテレビ局だからこそ企画や提案の通りやすい環境や、放送、経営、業務などの幅広い部門により、チャレンジする環境が整っていることをアピールしました。<br>職場については、「会社」「仕事」「仲間」「環境」の4つの知るにて構成し、「会社」と「仕事」では数値とエピソードを交えた具体的な事業内容の紹介を想定し、職場環境をイメージしやすいように意識しました。「仲間」「環境」では若手社員の成長エピソードの掲載、研修制度や福利厚生によって働きやすさを伝えることで安心感を感じさせる情報を配置しました。", "固定概念にとらわれない新しいことにチャレンジしていく社風を表現するために、斜の流体のあしらいで全体を統一しました。<br>「仲間」「仕事」を知るのセクションでは、個人が生き生きと働いている様子をイメージし、笑顔で働く社員の写真や、カラフルな色合いを使用しました。")
  .comp
    .pc
      img(src=`${pathToImgWorks}img-works-5-3.jpg`)
    .sp
      img(src=`${pathToImgWorks}img-works-5-4.jpg`)

+btns(5)
