include works-base

+top("video", 3, "website | 自主制作", "Takatsu Yuki <br class='no-lg'>ポートフォリオサイト", "https://yutonosite.com/gyouza_stand/","site", "2025.04", "Figma / CLIP STUDIO PAINT / Visual Studio Code ")

+outline("自分自身の転職活動用ポートフォリオサイトを制作しました。<br>採用担当者の視点を意識しながら、自分の強みと親和性のある業界を分析し、競合の多い応募者の中で個性を際立たせるようなポートフォリオサイトを目指しました。","企画、デザイン、コーディング", 3, "Web業界への転職を行うにあたってポートフォリオが必要。<br>デザイン、コーディング、イラストのスキルをアピールしたい。", "競合の多い応募者の中で個性を際立たせ、採用担当者に「この人と一緒に働きたい」と感じてもらえるポートフォリオサイトを制作する。最終ゴールは内定の獲得。", "採用担当者、デザイナー、ディレクターの方々。<br>ゲームやアニメなど、エンタメ業界のWeb制作に関わる方々。", "webデザインの動きのある表現方法に興味を持ち、コンテンツの良さをユーザーに届ける架け橋となるWebデザイナーを目指しています。そのため遊び心のあるサイト作りを意識しました。イラスト×webデザインスキルでユーザーがワクワクできるような世界観を作り出しつつも、情報が整理されたノンストレスな体験を両立させます。", "Web制作業界は多彩なスキルを持つメンバーが協力して課題解決に挑む姿が、まるでファンタジーゲームの「勇者パーティ」のようだと感じました。自分は、ヒーラーのような「温かい心でチームを支え、解決策を見つける役割」を連想し、サイト全体をファンタジーRPGの世界観でデザイン。スキルをステータスバーで視覚化し、ゲームUIを参考に直感的に内容が伝わるよう工夫しました。")
  .comp
    .pc
      img(src=`${pathToImgWorks}img-works-3-3.jpg`)
    .sp
      img(src=`${pathToImgWorks}img-works-3-4.jpg`)

+btns(3)
