include works-base

+top("img", 7, "bunner | 自主制作", "不動産仲介業者 バナー", "","", "2024.09", "Figma")

+outline("自主制作として不動産仲介業者のバナーを制作しました。ターゲットごとに異なる切り口でありながらも、統一感のあるデザイン作りで企業のブランドイメージの定着を図りました。","企画、デザイン", 7, "引越しの繁忙期シーズンである1〜3月を前に広告を出すことにしたが、広告が乱立し、競合との差別化が難しい。", "ターゲットを20代のユーザーに絞り、SNSを活用した広告手法でアプローチを行うことで親しみやすさを獲得する。<br>統一コピーを使うことで、企業として「個々のライフスタイルに寄り添う」姿勢を伝え、信頼感を育成し、ブランド認知を向上させる。", "新生活に伴って一人暮らしを始めるため、物件を探している20代をメインに、さらにターゲットを細かく設定して複数のバナーを作る。<br>01.ペットと暮らす｜温かみ、クラフト感<br>02.女子向けナチュラル部屋｜アパレルっぽさ<br>03.景色の良い部屋｜開放感", "", "20代のユーザーが多いInstagramでの掲載を想定し、視認性の高い正方形でデザイン。統一コピーを使用しながら、ターゲットの嗜好や個々のライフスタイルに合った多様な提案ができる企業イメージを演出。", "","none")
  .comp-bunner
    ol
      li
        span 01
        .img
          img(src=`${pathToImgWorks}img-works-7-3.jpg`)
      li
        span 02
        .img
          img(src=`${pathToImgWorks}img-works-7-4.jpg`)
      li
        span 03
        .img
          img(src=`${pathToImgWorks}img-works-7-5.jpg`)

+btns(7)
