include works-base

+top("", 6, "website | スクール課題", "クリエイタースクール LP", "","", "2024.05", "Illustrator / Photoshop")

+outline("現役デザイナーの方にデザインを指導していただける講座を受講した際のスクール課題です。ターゲットに対して訴求力を高めるためのアイデアの考え方、参考デザインの探し方や選び方、デザイン力を向上するためのインプットからアウトプットまでの方法を学びました。２ヶ月間の講座内で学んだことを活用し、アウトプットしたLPサイトのデザインです。","企画、デザイン", 6, "web制作スクールの増加により、入学者の獲得が激戦化した。", "現行LPに加えて、よりターゲットの絞った訴求力の高い2つ目のLPを作る。", "結婚や引っ越しなどのタイミングで転職を考え、キャリアに悩む20代後半〜30代前半の男女。仕事の場所を選ばないWebデザイナーの働き方に魅力を感じ、未経験からの転職を目指している。", "開放感のある写真と、前向きなコピーで明るいキャリアイメージを視覚的に伝え、興味を惹きます。転職までサポートするスクールの特徴や強み、転職を実現した同年代の卒業生のエピソードを配置することで、不安を払拭し、個別説明会へのハードルを下げる構成にしました。", "スクールのイメージカラーであるオレンジをアクセントカラーに使用し、ベースカラーをホワイトに設定することで全体的に明るく、親しみやすい印象づくりを意識しました。写真やテキストをグリットに収まりすぎないレイアウトにすることで、リズムを感じる飽きさせないデザインにしました。")
  .comp
    .pc-only
      img(src=`${pathToImgWorks}img-works-6-3.jpg`)

+btns(6)
