include works-base

+top("video", 4, "website | スクール課題", "野菜直送サービス LP", "https://takatsu-yuki.github.io/sugutabe_LP/","site", "2024.02", "Photoshop / CLIP STUDIO PAINT / Dreamweaver ")

+outline(" HTML・CSSの講座を一通り終えた後の初めて自分で一からデザイン、コーディングを行うスクール課題です。<br>産地直送の野菜が手軽に楽しめるサービスを想定し、お試しセットの購入に誘導するLPサイトを作りました。","企画、デザイン、コーディング", 4, "既存のスグ食べWebサイトは存在するが、今回リスティング広告を出すことにしたため、より訴求力の高いランディングページが必要となった。", "食へのこだわりが強い層に響くような内容にして、お試しセットの購入へ導く。", "育ち盛りの子どもがおり、健康に関心のある30代〜40代の主婦。<br>仕事と家事を両立しながらも、夫と子どもに健康的に過ごしてほしいと考えている。", "忙しい方にも要点が伝わりやすいよう、写真とイラストを多く取り入れたレイアウトを目指しました。<br>サイトの前半では「スグ食べが選ばれる3つの理由」「登録農家の紹介」を配置し、サービスのメリット、特徴についてユーザーにアピールし、後半では「お試しセットご利用方法」にて３ステップで商品が届くまでの流れを伝え、手軽さをアピール。また利用者の声や、よくある質問を配置することで注文前の煩わしさや、不安感を取り除く設計にしました。<br>最後に「オーガニック野菜で心と体に栄養を」というコピーと、サービス利用後の家族の健康と団欒を感じられる写真を使用し、ユーザーの心に響かせるラストメッセージを取り入れました。", "サービスの特徴であるオーガニック国産野菜を意識し、ヘルシーな色合いと和の雰囲気を合わせた和モダンなテイストを採用し、サービスイメージの定着を図ることを意識しました。ユーザーが認識しやすいよう、ボタンの色はオレンジで統一しました。")
  .comp
    .pc
      img(src=`${pathToImgWorks}img-works-4-3.jpg`)
    .sp
      img(src=`${pathToImgWorks}img-works-4-4.jpg`)

+btns(4)
