include works-base

+top("video", 2, "website | クライアントワーク", "くろやぎ様 <br class='no-lg'>ポートフォリオサイト", "https://yaginoie.site/","site", "2024.11", "Figma / Visual Studio Code ")

+outline("SNSで活動しているイラストレーターくろやぎ様のポートフォリオサイトの制作、実装、運営管理を依頼されました。ヒヤリングから2つの絵柄でイラストを制作できる点を強みとして、ターゲットからお問い合わせをいただくことをゴールと設定し、ユーザーにとって見やすく、実装面では管理、更新のしやすいサイト制作を意識しました。<br>2024年の11月末にサイトを公開し、12月の1周目に1件目のお問い合わせをいただく効果も発揮しました。","企画、デザイン、コーディング、運営管理", 2, "絵柄が複数あり、訴求方法が定まらない。<br>既存のサイトはイラストを制作時期、ジャンルに分けて掲載しているが、ページごとに遷移する必要がありテンポよく作品を確認しにくいと感じる。", "イラストの方向性を決めてアピールし、企業からのお問い合わせをいただくための窓口を作る。", "イラストレーターを探している出版社、ゲーム会社の企画者。", "作品の絵柄を「ゲーム向けのリッチでカッコ良い絵柄」、「児童書向けのシンプルで可愛い絵柄」の大きく2つに分け、「小中学生の勉強も遊びも支えたい」というコンセプトを設定。<br>トップページではファーストビジュアルで2つの絵柄を得意とする強みをアピールし、それぞれの作品一覧に素早く遷移できるようボタンとしても配置。<br>次に活発的に活動していることをアピールするために「topics」を配置し、「work」にてユーザーに対してコンセプトイメージの定着を図り、「contact」にて依頼に繋げる。<br>最後に「profile」にてクライアントの詳細を伝え、依頼へのハードルを下げる構成にしました。", "イラストが一番目に入るように装飾を最低限にしたシンプルなデザインを意識しました。メインカラーはベーシックかつ、クライアントのイメージカラーであるモノトーンを採用し、「ゲーム向けの絵柄」にはライトブルーを「児童書向けの絵柄」にはイエローをアクセントカラーに設定しました。絵柄の違いを視覚的に明確にするため補色対比を用い、ユーザーに2つの異なる強みを自然に印象づけました。<br>実装面では今後の更新、管理を考え、コードの再利用性を高め、メンテナンス作業の効率化を図るためにpugを採用しています。")
  .comp
    .pc
      img(src=`${pathToImgWorks}img-works-2-3.jpg`)
    .sp
      img(src=`${pathToImgWorks}img-works-2-4.jpg`)

+btns(2)
