include works-base

+top("img", 8, "graphic | 自主制作","自分用の名刺","","", "2023.07", "Figma / CLIP STUDIO PAINT")

+outline("Web制作関係者やイラストレーターなどのクリエイティブ業界の参加者が集まるイベントに合わせて名刺を制作しました。自分の好きな世界観やデザインの個性を表現し、印象に残る名刺を意識しています。","企画、デザイン", 8, "", "将来的に目指す業界で横のつながりを広げること。<br>自分の好きな世界観やデザインの個性を表現し、印象に残す。", "デザイン関係のイベントや懇親会に集まるクリエイター。", "", "表面では、Webデザインとイラスト制作という自身の特徴をアピールするために、使用可能なソフトをアイコンで分かりやすく可視化。また、裏面には自作のイラストを掲載し、自分の好きな世界観やデザインの個性を表現。これにより、第一印象でスキルと個性を伝え、印象に残る名刺を意識しました。","none","none")
  .comp-card
    .img
      img(src=`${pathToImgWorks}img-works-8-3.jpg`)
    .img
      img(src=`${pathToImgWorks}img-works-8-4.jpg`)

+btns(8)
