@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

.global-footer {
  position: relative;
  padding-top: 240px;

  @include mq.sm {
    padding-top: 100px;
  }

  .bg {
    @include path.bg-img("common/deco-footer-bg.png");
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    aspect-ratio: 1440 / 253;
  }

  .inner {
    padding-inline: 108px;
    margin-bottom: 60px;

    @include mq.sm {
      padding-inline: 24px;
    }

    p {
      @include typography.zen-regular;
      margin-bottom: 10px;
      font-size: 20px;
      color: var(--color-gold);
      text-align: center;

      @include mq.sm {
        margin-bottom: 0;
        font-size: 16px;
      }
    }

    .mail {
      display: block;
      margin-bottom: 30px;
      font-size: 20px;

      @include mq.sm {
        margin-bottom: 20px;
        font-size: 16px;
      }
    }

    .contact {
      display: block;
      display: flex;
      gap: 40px;
      align-items: center;
      justify-content: center;
      width: fit-content;
      margin: 0 auto 60px;
      color: var(--color-gold);
      text-decoration: none;

      @include mq.sm {
        gap: 13px;
        margin-bottom: 20px;
      }

      svg {
        @include mq.sm {
          width: 40px;
          height: 40px;
        }
      }

      .split-text {
        @include typography.en-regular;
        margin-top: -15px;
        font-size: 100px;
        line-height: 1;

        .text-wrap {
          position: relative;
          display: block;
          display: flex;
          align-items: center;
          overflow: hidden;

          .before,
          .after {
            display: flex;

            span {
              display: block;
              transition: transform 0.5s ease.$custom1;
            }
          }

          .before {
            span {
              transform: translate(0, 0);
            }

            span.hovered {
              transform: translate(0, -100%);
            }
          }

          .after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            span {
              transform: translate(0, 100%);
            }

            span.hovered {
              transform: translate(0, 0);
            }
          }
        }

        @include mq.sm {
          margin-top: -8px;
          font-size: 40px;
        }
      }
    }

    .pc-content {
      display: flex;
      align-items: center;

      @include mq.sm {
        display: contents;
      }

      nav {
        order: 1;
        margin-right: 50px;

        ul {
          display: flex;
          gap: 50px;

          @include mq.sm {
            gap: 30px;
          }

          li {
            position: relative;

            &::before {
              position: absolute;
              right: 0;
              bottom: -5px;
              width: 0%;
              height: 1px;
              content: "";
              background-color: var(--color-gold);
              transition: 0.8s ease.$custom1;
            }

            &:has(a:hover)::before {
              left: 0;
              width: 100%;
            }

            a {
              @include typography.zen-regular;
              display: block;
              font-size: 20px;
              color: var(--color-gold);
              text-decoration: none;

              @include mq.sm {
                font-size: 13px;
              }
            }
          }
        }
      }

      .sp-content {
        display: contents;

        @include mq.sm {
          display: flex;
          align-items: flex-end;
        }

        .copyrigft {
          margin: 0 auto 0 0;
          font-size: 20px;
          text-align: left;

          @include mq.sm {
            font-size: 12px;
          }
        }

        .icons {
          display: flex;
          gap: 30px;
          order: 2;

          @include mq.sm {
            gap: 20px;
          }

          svg {
            vertical-align: top;

            path {
              fill: var(--color-gold);
            }

            @include mq.sm {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
