@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

.global-header {
  width: 100%;
  height: 100px;

  @include mq.sm {
    height: 62px;
  }

  .bar {
    .logo {
      position: fixed;
      top: 25px;
      left: 40px;
      z-index: 100;
      width: 44px;
      height: 44px;

      @include path.bg-img("svg/logo.svg");
      @include mq.sm {
        top: 16px;
        left: 24px;
        width: 30px;
        height: 30px;
      }
    }

    .hamburger {
      position: fixed;
      top: 25px;
      right: 40px;
      z-index: 100;
      width: 50px;
      height: 44px;
      font-size: 20px;
      color: var(--color-gold);
      cursor: pointer;

      @include typography.zen-bold;
      @include mq.sm {
        top: 16px;
        right: 24px;
        width: 40px;
        height: 30px;
        font-size: 12px;
        line-height: 1;
      }

      p {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        letter-spacing: 0;
        opacity: 0;
        transition: 0.3s ease;
      }

      .menu {
        opacity: 1;
      }

      span {
        position: absolute;
        top: 10px;
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: var(--color-gold);
        transition: 0.3s ease.$custom1;

        &:first-of-type {
          transform: translateY(2px) translateY(-50%);
        }

        &:last-of-type {
          transform: translateY(-8px) translateY(-50%);
        }
      }

      &.active {
        span {
          transform-origin: 50% 50%;

          &:first-child {
            transform: rotate(15deg);
          }

          &:last-of-type {
            transform: rotate(-15deg);
          }
        }

        .menu {
          opacity: 0;
        }

        .close {
          opacity: 1;
        }
      }
    }
  }

  nav {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    visibility: hidden;
    backdrop-filter: blur(0);
    transition: 0.3s ease.$custom1;

    &.active {
      visibility: visible;
      backdrop-filter: blur(4px);

      .inner {
        transform: translateX(0);
      }
    }

    .inner {
      position: absolute;
      right: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 480px;
      height: 100vh;
      padding: 120px 40px 40px;
      overflow: hidden;
      background-color: var(--color-white);
      border-left: 1px solid var(--color-gold);
      transition: 0.3s ease.$custom1;
      transform: translateX(100%);

      @include mq.sm {
        width: 100%;
      }

      .bg {
        position: absolute;
        right: -77%;
        bottom: -38%;
        z-index: 0;
        width: 750px;
        height: 750px;
        opacity: 0.2;
        transform: translate(56%, 44%);
        transform-origin: center;
        animation: 60s infinite rotation linear;

        @include path.bg-img("svg/deco-circle.svg");
        @include mq.sm {
          right: -400px;
          bottom: -300px;
        }
      }

      ul {
        @include typography.en-regular;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include mq.sm {
          gap: 20px;
        }

        li {
          position: relative;

          &::before {
            position: absolute;
            right: 0;
            bottom: -10px;
            width: 0%;
            height: 1px;
            content: "";
            background-color: var(--color-gold);
            transition: 0.8s ease.$custom1;
          }

          &:has(a:hover)::before {
            left: 0;
            width: 100%;
          }

          a {
            display: flex;
            flex-direction: column;
            gap: 0;
            width: fit-content;
            color: var(--color-black);
            text-decoration: none;

            p {
              font-size: 45px;

              @include mq.sm {
                font-size: 30px;
              }
            }

            span {
              font-size: 16px;

              @include mq.sm {
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    .icons {
      position: relative;
      z-index: 1;
      display: flex;
      gap: 30px;

      @include mq.sm {
        gap: 20px;
      }

      a {
        svg {
          width: 100%;
          height: 100%;

          path {
            transition: 0.3s ease.$custom1;
          }
        }

        @include mq.sm {
          width: 40px;
          height: 40px;
        }

        &:hover {
          path {
            fill: var(--color-gold);
          }
        }
      }
    }
  }
}
