@use "path";
@use "sass:meta";
@use "sass:math";
@use "color";
@use "ease";
@use "media_query" as mq;
@use "typography";
@use "vw";
@use "geom";

html {
  scroll-behavior: smooth;
}

body {
  z-index: -1;
  box-sizing: border-box;
  font-feature-settings: "palt";
  line-height: 1.5;
  color: var(--color-black);
  letter-spacing: 0.1rem;
  background-color: var(--color-white);
}

.btn-more {
  @include typography.en-regular;
  position: relative;
  z-index: 10;
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  font-size: 20px;
  color: var(--color-black);
  text-decoration: none;

  svg {
    width: 30px;
    height: 30px;
    transition: 0.5s ease.$custom1;

    path {
      fill: var(--color-black);
      transition: 0.5s ease.$custom1;
    }
  }

  p {
    display: block;
    transition: 0.5s ease.$custom1;
  }

  span {
    display: block;
    width: 20px;
    height: 1px;
    background-color: var(--color-black);
    transition: 0.5s ease.$custom1;
    transform: translateY(-50%);
    transform-origin: left;
  }

  @media (hover: hover) {
    &:hover {
      svg {
        transform: rotate(60deg);

        path {
          fill: var(--color-gold);
        }
      }

      p {
        color: var(--color-gold);
      }

      span {
        background-color: var(--color-gold);
        transform: scale(2, 1);
      }
    }
  }
}

.hr {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: var(--color-gold);

  &::before {
    @include path.bg-img("common/deco-hr.png");
    @include geom.abs(50%, 50%);
    width: 26px;
    height: 10px;
    content: "";
    translate: (-50% -55%);
  }
}

/* stylelint-disable scss/at-rule-no-unknown, property-no-unknown */
// @view-transition {
//   navigation: auto;
// }
/* stylelint-enable */

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@mixin dummy-image-border {
  border: 1px dashed rgba(255 0 0 / 50%);
}

@mixin line-clamp($line) {
  /* stylelint-disable-next-line */
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin fit-image($method: cover) {
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: $method;
  }
}

@mixin line-height-fix-top($fsz, $lh, $base: 0) {
  margin-top: $base + math.div(($lh - $fsz), -2);
}

@mixin line-height-fix-bottom($fsz, $lh, $base: 0) {
  margin-bottom: $base + math.div(($lh - $fsz), -2);
}

@mixin line-height-fix($fsz, $lh, $mt: 0, $mb: 0) {
  @include line-height-fix-top($fsz, $lh, $mt);
  @include line-height-fix-bottom($fsz, $lh, $mb);
}

@mixin text-replacement-lg($path) {
  @include path.bg-lg($path);
  line-height: 0;
  text-indent: -9999px;
}

@mixin text-replacement-sm($path) {
  @include path.bg-sm($path);
  line-height: 0;
  text-indent: -9999px;
}
