section.about-me-top
  .inner
    .text
      figure.circle
      .head
        h1 About me
        span 私について
      p 幼い頃からアニメ、ゲームに魅了され、イラストを通じて『好き』を形にしてきました。その中で、動きのある表現で魅力を最大限に伝えられるWebサイトという媒体に出会い、その可能性に感動しました。今では、コンテンツの良さをユーザーに届ける架け橋となるWebデザイナーを目指しています。
    .img
      figure
