section#yuki.yuki
  .inner
    .left
      .head
        .circle
          include ../../assets/img/svg/deco-circle-bg.svg
        figure 
        .subhead
          h3 Skills
          span 習得した魔法
        .subhead
          h3 Gear
          span 使用ツール
        .subhead
          h3 Strength
          span わたしの強み
      .chara
    .right
      .slide-1
        details
          summary
            figure.icon1
            p Web design
            span
          .acc-text
            .inner
            p ユーザー目線で使いやすさを重視したデザインを心がけています。クライアントの強みを理解し、オリジナルのビジュアルを活かしたデザインで、ブランドの魅力を引き出すことができます。
        details
          summary
            figure.icon2
            p Web Development
            span
          .acc-text
            .inner
            p HTML(pug)、CSS(sass)、JavaScriptを用いたコーディングスキルを活かし、レスポンシブデザインや動きのあるインタラクションを実現できます。また、規則性のあるコードを心がけたり、GitやGitHubを活用してチーム開発の効率化にも対応可能です。
        details
          summary
            figure.icon3
            p Illustration
            span
          .acc-text
            .inner
            p オリジナルキャラクターや背景イラストを制作し、Webコンテンツに合わせたビジュアルを提供。デザインとイラストを融合させることで、魅力的で統一感のあるサイト作りを支援します。
      .slide-2
        .item
          summary
            figure.icon1
            p Web design
            span
          .acc-text
            .inner
            p ユーザー目線で使いやすさを重視したデザインを心がけています。クライアントの強みを理解し、オリジナルのビジュアルを活かしたデザインで、ブランドの魅力を引き出すことができます。
        .item
          summary
            figure.icon2
            p Web Development
            span
          .acc-text
            .inner
            p HTML(pug)、CSS(sass)、JavaScriptを用いたコーディングスキルを活かし、レスポンシブデザインや動きのあるインタラクションを実現できます。また、規則性のあるコードを心がけたり、GitやGitHubを活用してチーム開発の効率化にも対応可能です。
          summary
            figure.icon3
            p Illustration
            span
          .acc-text
            .inner
            p オリジナルキャラクターや背景イラストを制作し、Webコンテンツに合わせたビジュアルを提供。デザインとイラストを融合させることで、魅力的で統一感のあるサイト作りを支援します。
      .slide-3
        .item
          summary
            figure.icon1
            p Web design
            span
          .acc-text
            .inner
            p ユーザー目線で使いやすさを重視したデザインを心がけています。クライアントの強みを理解し、オリジナルのビジュアルを活かしたデザインで、ブランドの魅力を引き出すことができます。
        .item
          summary
            figure.icon2
            p Web Development
            span
          .acc-text
            .inner
            p HTML(pug)、CSS(sass)、JavaScriptを用いたコーディングスキルを活かし、レスポンシブデザインや動きのあるインタラクションを実現できます。また、規則性のあるコードを心がけたり、GitやGitHubを活用してチーム開発の効率化にも対応可能です。
          summary
            figure.icon3
            p Illustration
            span
          .acc-text
            .inner
            p オリジナルキャラクターや背景イラストを制作し、Webコンテンツに合わせたビジュアルを提供。デザインとイラストを融合させることで、魅力的で統一感のあるサイト作りを支援します。
      .padding
